@media only screen and (max-device-width: 768px) {
    .mat-form-field{
        width: 100%
    }
}

.example-card {
    max-width: 400px;
    margin-top: 5px;
}

.separado{
    display: flex;
    justify-content: space-between;
}
